<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-sm12 layui-col-md12 layui-col-lg12">
            <form id="my-form" class="layui-form" enctype="multipart/form-data" method="post">
                {notempty name="$list"}
                <div class="widget-head">
                    <div class="widget-title">编辑海报图</div>
                </div>
                <div class="widget-body layui-col-sm12 layui-col-md12 layui-col-lg12">
                    <div class="layui-form-item">
                        <label class="layui-form-label">宣传图： </label>
                        <div class="layui-col-sm7 layer-midd-left">
                            <div class="layer-form-file">
                                <button type="button"
                                        class="upload-file layer-btn-secondary layer-radius layui-btn">
                                    <i class="layer-icon-cloud-upload "></i> 选择图片
                                </button>
                                <div class="uploader-list layer-cf">
                                    <div class="file-item">
                                        <a href="/uploads/{$list.image_url}" title="点击查看大图" target="_blank">
                                            <img src="/uploads/{$list.image_url}">
                                        </a>
                                        <input type="hidden" name="image_id"
                                               value="{$list.image_id ?? ''}">
                                        <i class="mdi menu-icon mdi-window-close file-item-delete"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="help-block layer-margin-top-sm">
                                <small>尺寸150x150像素以上，大小2M以下</small>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">关联商品：</label>
                        <div class="layui-col-sm7 layer-midd-left">
                            <select class="form-control" name="url" data-layer-selected="{btnSize: 'sm', placeholder: '商品'}">
                                <!--<option value="-1">不关联</option>-->
                                {foreach ($itemList as $item)}
                                <option value="{$item.goods_id}" {if condition="$item['goods_id'] eq $list['url'] "}selected="selected"{/if}>{$item.goods_name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="submit" class="j-submit layui-btn layui-btn-secondary">提交
                            </button>
                        </div>
                    </div>
                </div>
                {else /}
                <div class="widget-head">
                    <div class="widget-title">添加海报图</div>
                </div>
                <div class="widget-body layui-col-sm12 layui-col-md12 layui-col-lg12">
                    <div class="layui-form-item">
                        <label class="layui-form-label">宣传图：</label>
                        <div class="layui-col-sm7 layer-midd-left">
                            <div class="layer-form-file">
                                <button type="button"
                                        class="upload-file layer-btn-secondary layer-radius layui-btn">
                                    <i class="layer-icon-cloud-upload "></i> 选择图片
                                </button>
                                <div class="uploader-list layer-cf">
                                    <div class="file-item">
                                        <a href="" title="点击查看大图" target="_blank">
                                            <img src="">
                                        </a>
                                        <input type="hidden" name="store_pic"
                                               value="">
                                        <i class="mdi menu-icon mdi-window-close file-item-delete"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="help-block layer-margin-top-sm">
                                <small>尺寸150x150像素以上，大小2M以下</small>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">关联商品：</label>
                        <div class="layui-col-sm7 layer-midd-left">
                            <select class="form-control" name="url" data-layer-selected="{btnSize: 'sm', placeholder: '商品'}">
                                <!--<option value="-1">不关联</option>-->
                                {foreach ($itemList as $item)}
                                    <option value="{$item.goods_id}">{$item.goods_name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="submit" class="j-submit layui-btn layui-btn-secondary">提交
                            </button>
                        </div>
                    </div>
                </div>
                {/notempty}
            </form>
        </div>
    </div>
</div>

<!-- 图片文件列表模板 -->
{include file="layouts/_template/tpl_file_item" /}

<!-- 文件库弹窗 -->
{include file="layouts/_template/file_library" /}

<script>
    $(function () {

        // 选择图片
        $('.upload-file').selectImages({
            name: 'image_id'
        });

        /**
         * 表单验证提交
         * @type {*}
         */
        var parent_id = $("#parent_id_1").val();

        if (parent_id > 0) {
            get_category($("#parent_id_1").val(), 'parent_id_2', 0);
        }
        $('#my-form').superForm();

    });


</script>
