<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-sm12 layui-col-md12 layui-col-lg12">
			<form id="my-form" class="layui-form" enctype="multipart/form-data" method="post">
				<div class="widget-head">
					<div class="widget-title">
						商品规格
					</div>
				</div>
			<div class="widget-body layui-col-lg12">
					<div class="layui-form-item">
						<label class="layui-form-label">规格名称 </label>
						<div class="layui-col-sm7 layer-midd-left">
							<input type="text" class="layui-input" name="spec[name]"  value="{$spec['name']??''}" required>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label form-require">所属商品类型： </label>
						<div class="layui-col-sm7 layer-midd-left">
							<select name="spec[type_id]" class="form-control"data-am-selected="{searchBox: 1, btnSize: 'sm'}">
								<option value="0">请选择</option>
								{if isset($type)}{foreach ($type as $first)}
								<option {notempty name="$spec.type_id"}{if ($spec.type_id) eq ($first.id)} selected = "selected" {/if}{/notempty}value="{$first['id']??''}">{$first['name']}</option>
								{/foreach}{/if}
							  </select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label form-require">规格项 </label>
						<div class="layui-col-sm7 layer-midd-left">
							<textarea name='spec[items]' rows="6" class="layui-textarea">{$spec['items']??''}</textarea>
							<small>不同规格项用“,”分隔，注意这是英文符号的逗号</small>
						</div>
					</div>
					<!-- <div class="layui-form-item">    
						<div class="layer-form-group">
							<label class="layui-form-label form-require">规格项图片： </label>
							<div class="layui-col-sm7 layer-midd-left">
								<div class="layer-form-file">
									<button type="button"
											class="upload-file layer-btn-secondary layer-radius layui-btn">
										<i class="layer-icon-cloud-upload "></i> 选择图片
									</button>
									<div class="uploader-list layer-cf">
										<div class="file-item">
											<a href="" title="点击查看大图" target="_blank">
												<img src="">
											</a>
											<input type="hidden" name="store_pic"
												   value="">
											<i class="mdi menu-icon mdi-window-close file-item-delete"></i>
										</div>
									</div>
								</div>
								<div class="help-block layer-margin-top-sm">
									<small>尺寸150x150像素以上，大小2M以下</small>
								</div>
							</div>
						</div>
					</div> -->
					<div class="layui-form-item">
						<label class="layui-form-label form-require">分类排序 </label>
						<div class="layui-col-sm7 layer-midd-left">
							<input type="number" class="layui-input" name="category[sort_order]" value="100" required>
							<small>数字越小越靠前</small>
						</div>
					</div>
				 <div>
					 <input type="hidden" name="spec[id]" value="{$spec['id']??''}">
				 </div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button type="submit" class="j-submit layui-btn ">提交
							</button>
						</div>
					</div>
			</div>
			</form>
        </div>
    </div>
</div>
<!-- 图片文件列表模板 -->
{include file="layouts/_template/tpl_file_item" /}

<!-- 文件库弹窗 -->
{include file="layouts/_template/file_library" /}
<script>
    $(function () {

        // 选择图片
        $('.upload-file').selectImages({
            name: 'image_id'
        });

        /**
         * 表单验证提交
         * @type {*}
         */
         var parent_id=$("#parent_id_1").val();
    
         if(parent_id > 0 ){
            get_category($("#parent_id_1").val(),'parent_id_2',0);   
        }   
        $('#my-form').superForm();

    });

        

</script>
<script>
    $(function ()
    {
        /**         * 表单验证提交
         *  * @type {*}
         *  */
    $('#my-form').superForm();	})
</script>
